.home_banner_area {
	posihome_banner_areation: relative;
	z-index: 1;
	min-height: 500px;
}

.home_banner_area .banner_inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 500px;
}

.home_banner_area .banner_inner .overlay {
	background: url(../img/banner3.jpg) no-repeat scroll center center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 121%;
	bottom: 0;
	z-index: -1;
}

.home_banner_area .banner_inner .banner_content {
	color: #fff;
}

.home_banner_area .banner_inner .banner_content h5 {
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 900;
	margin-bottom: 15px;
}

.home_banner_area .banner_inner .banner_content h3 {
	font-size: 42px;
	font-family: "Roboto", serif;
	font-weight: 900;
	margin-bottom: 20px;
}

.home_banner_area .banner_inner .banner_content p {
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	max-width: 620px;
	margin: auto;
}

.home_banner_area .banner_inner .banner_content .main_btn {
	margin-top: 40px;
}
